@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Cores principais */
  --color-primary-dark: #014265;
  --color-primary: #02527F;
  --color-primary-light: #76BCD8;

  /* Cores de sustentabilidade */
  --color-secondary-dark: #065A5B;
  --color-secondary: #0CBEC1;

  /* Cores neutras */
  --color-white: #FFFFFF;
  --color-background: #F5F8FA;
  --color-text: #16323F;
  --color-text-secondary: #64748B;

  /* Bordas */
  --color-border: #DCE8ED;

  /* Estados */
  --color-success: #2E8B57;
  --color-warning: #E9A23B;
  --color-error: #D9534F;

  /*Fontes*/
  --primary-font: "Dancing Script", cursive;
  --secondary-font: "Poppins", sans-serif;
  
}